langchain
langsmith
python-dotenv
ipykernel
pandas
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
chromadb
pdfplumber 
camelot-py
pdf2image 
pytesseract 
opencv-python 
PyMuPDF
huggingface_hub
langchain-huggingface
sentence-transformers
langchain_groq
langchain_experimental
pinecone
langchain-pinecone
pinecone-text
pinecone-notebooks
FlagEmbedding
peft
streamlit
watchdog
ragas 
datasets 
evaluate
protobuf==3.20.3
rapidfuzz>=2.0.0

# pip install -r requirements.txt
